---
lastmod: 2020-11-19
title: Blockchain-based Finance Platform
titleOnlyInHead: 1
additionalHeadTag: <link rel="canonical" href="https://blacknet.ninja/">
---

<style>
    .index_page {
        text-align: center;
    }
    .index_page h2{
        margin-top: 100px;
    }
    .logo{
        margin: 40px 0;
    }
    .download_link, .download_link:hover{
        background: var(--darker-grey-bg);
        display: inline-block;
        line-height: 36px;
        padding: 0 20px;
        color: var(--gold-text);
    }
    .point{
        color: var(--grey-text);
        margin-top: 100px;
    }
    .point div{
        display: inline-block;
        padding: 0 10px;
    }
</style>
<div class="index_page">
    <h2>Blacknet is blockchain-based finance platform with proof of stake consensus.</h2>

    <div class="logo"><img height="160" src="/images/logo.png" alt="logo"></div>

    <a class="download_link" href="/wallet.html">Download Blacknet Wallet</a>

    <div class="point">
        <div>Decentralized</div>
        <div>Proof of stake</div>
        <div>Platform</div>
    </div>
    <br>
    <pre>

        Staking with a lightweight wallet implemented in Blacknet PoSv4 Lease Contract
    </pre>
</div>
