---
lastmod: 2020-11-19
title: The proof of stake blockchain
titleOnlyInHead: 1
---

<img src="/images/logo.png" alt="logo" style="float: right; margin: 10px;">

<p>Blacknet is blockchain-based finance platform secured with proof of stake consensus mechanism.</p>
<p>Target block time is 16 seconds.</p>
<p>Platform features are in development.</p>
<p>Verifiable initial distribution.</p>
<p>The main network is public and operated by decentralized community.</p>
<p>A fungible token standard and a non-fungible token (NFT) standard may be considered in future.</p>

<h3>Implementened features</h3>
<ul>
    <li>Accounts-based, Blacknet proof of stake version 4</li>
    <li>Cold staking</li>
    <li>Stake pool</li>
</ul>

<h3>Planned features</h3>
<ul>
    <li>Multi-signature contract</li>
    <li>Cross-chain atomic swaps</li>
    <li>Turing-complete computations</li>
</ul>

<h3>Research</h3>
<ul>
    <li><a href="/blacknet-posv4.pdf">Blacknet: Asynchronous Proof of Stake</a> - November 8, 2020</li>
</ul>

<h3>Posts</h3>
$partial("templates/post-list.html")$

<p>…or you can find more in the <a href="/archive.html">archives</a>.</p>
